<div class="showbalance">
    <div>
        <p class="balance1">{{"Available Balance"| uppercase}}</p>
        <h1>Rs.{{"0"+"0"}}.00</h1>
    </div>
    <div class="MainBanner d-flex justify-content-between">
        <div class="NmsCash d-flex">
            <div class="it1">
                <div class="curenc ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path
                            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                    </svg>
                </div>
            </div>
            <div class="it2 d-flex justify-content-between">
                <p>NMS CASH</p>
                <div class="st1">
                    <p>
                        Rs.{{"0"}}.00<br>
                        <button class="om1" role="link" data-bs-toggle="modal" data-bs-target="#modal1">How to
                            use?</button>
                    </p>

                    <div class="modal" id="modal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-center"> <button class="closebtn "
                                        data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                                            height="32" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                        </svg></button>
                                </div>
                                <div class="modal-body  col-12">
                                    <div>
                                        <h6>HOW TO USE NMS CASH?</h6>
                                        <ul>
                                            <li>NMS Cash can be used to pay for your order along with any of the
                                                following payment modes: (i) credit/debit card (ii) Net Banking (iii)
                                                e-wallet payment (iv) e-voucher code/coupon code alone or combined with
                                                any of the aforesaid payment method (No COD).</li>
                                            <li>
                                                There is no cap on redeeming your earned NMS Cash.
                                            </li>
                                            <li>
                                                Terms & Conditions apply
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="NmsCash d-flex ms-4">
            <div class="it1">
                <div class="curenc ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path
                            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                    </svg>
                </div>
            </div>
            <div class="it2 d-flex justify-content-between">
                <p>NMS SUPER CASH</p>
                <div class="st1">
                    <p>
                        Rs.{{"0"}}.00<br>
                        <button class="om1" role="link" data-bs-toggle="modal" data-bs-target="#modal2">How to
                            use?</button>
                    </p>

                    <div class="modal" id="modal2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-center"> <button class="closebtn "
                                        data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                                            height="32" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                        </svg></button>
                                </div>
                                <div class="modal-body  col-12">
                                    <div>
                                        <h6>HOW TO USE NMS SUPER CASH?</h6>
                                        <ul>
                                            <li>NMS Supercash can be used to pay for your medicine order along with any
                                                of the following payment modes: (i) credit/debit card (ii) Net Banking
                                                (iii) NMS Cash or other available e-wallet (No COD).</li>
                                            <li>
                                                NMS SuperCash can be redeemed only for a maximum of 18% of total value
                                                of prescription medicines in your cart in one transaction.

                                            </li>
                                            <li>
                                                It can be redeemed on the purchase of prescription medicines only (No
                                                OTC & FMCG products).
                                            </li>
                                            <li>
                                                No other coupon code/e-voucher discounts or promotional offers can be
                                                applied for the orders when the NMS SuperCash is redeemed.
                                            </li>
                                            <li>Terms & Conditions apply</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<div class="dent1 mt-3 col-12 p-4">
    <p class="balance1">All Transaction</p>
    <div>
        <div class="d-flex">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-arrow-down-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-5.904-2.803a.5.5 0 1 1 .707.707L6.707 10h2.768a.5.5 0 0 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.525a.5.5 0 0 1 1 0v2.768z"/>
                  </svg>
            </div>
            <div class="col-9 ms-4">
                <div>
                    <p>Wallet Amount Expired</p>
                    <p>Exp:{{date | date:'MM/dd/YYYY'}}</p>
                </div>
                
            </div>
            <div class="col-2">
                <span style="color:red">-Rs. 400.00</span>
            </div>
        </div>
    </div>
    <hr>

     <div class="d-flex">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8m5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707z"/>
                  </svg>
            </div>
            <div class="col-9 ms-4">
                <div>
                    <p>Wallet Amount Expired</p>
                    <p>Exp:{{date2 | date:'MM/dd/YYYY'}}</p>
                </div>
                
            </div>
            <div class="col-2">
                <span style="color:Green">+Rs. 400.00</span>
            </div>
        </div>
    
    

</div>