

.dropdown:hover>.dropdown-menu{
    display:flex;
    color:black;
    font-size: small;
    visibility:initial !important;
  }
  .dropdown-item:hover, .nav-link:hover{
   color:red;
  }
  .dropdown-menu {
      display:none;
  }


