<app-navbar></app-navbar>
<!-- <nav class="navbar navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid flex-row navbar-primary" >
    <a class="navbar-brand" href="#">Netmeds</a>
        <ul class=" col-10 nav nav-pills">

        <li class="nav-item">
          <div class="dropdown show">
            <a class="nav-link active 2 dropdown toggler" routerLink="medicine"  data-bs-toggle="dropdown" data-bs-target="#navdrop1">Medicine</a>
            <div class="dropdown-menu"  id="navdrop1">
              <div class="column1">
              <a class="dropdown-item" routerLink="medicines">All Medicine</a>
              <a class="dropdown-item" routerLink="medicine/buyagain">Buy Again</a>
              <a class="dropdown-item" routerLink="medicine/orderonline">Order Online</a>
            </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown show front">
            <a class="nav-link active 2 dropdown toggler" routerLink="wellness"  data-bs-toggle="dropdown" data-bs-target="#navdrop2">Wellness</a>
            <div class="dropdown-menu"  id="navdrop2">
              <div class="column">
              <a class="dropdown-item" routerLink="ayush"><b>Ayush</b></a>
              <a class="dropdown-item" routerLink="ayush">Ayurvedic</a>
              <a class="dropdown-item" routerLink="ayush/unani">Unani</a>
              <a class="dropdown-item" routerLink="ayush/homeopathy">Homeopathic</a>
              <a class="dropdown-item" routerLink="ayush/siddha">Siddha</a>

              <a class="dropdown-item" routerLink="covid"><b>Covid Essentials</b></a>
              <a class="dropdown-item" routerLink="covid">Oxygen Can</a>
              <a class="dropdown-item" routerLink="covid/personalhome">Personal and Home Essentials</a>
              <a class="dropdown-item" routerLink="covid/business">Buisness Essential</a>
              <a class="dropdown-item" routerLink="covid/mask">Mask, Gloves and Protective Elements</a>
              <a class="dropdown-item" routerLink="covid/travel">Travel Essentials</a>
           
              <a class="dropdown-item" routerLink="devices"><b>Devices</b></a>
              <a class="dropdown-item" routerLink="devices">Breath Easy</a>
              <a class="dropdown-item" routerLink="devices/surgical">Surgical Accessories</a>
              <a class="dropdown-item" routerLink="devices/measurement">Measurements</a>
              <a class="dropdown-item" routerLink="devices/ortho">Orthopeadics</a>
           
            </div>
            <div class="column2">
            
              <a class="dropdown-item" routerLink="diabetes"><b>Diabeties Support</b></a>
              <a class="dropdown-item" routerLink="diabetes">Glucometers</a>
              <a class="dropdown-item" routerLink="diabetes/sugarsub">Sugar Substitutes</a>
              <a class="dropdown-item" routerLink="diabetes/diabeticsmgmt">Diabeties Management Suppliments</a>
              <a class="dropdown-item" routerLink="diabetes/diabetiescare">Diabeties Care Ayurveda</a>
              <a class="dropdown-item" routerLink="diabetes/lancets">Lancets and Strips</a>

              <a class="dropdown-item" routerLink="eyewear"><b>Eye wear</b></a>
              <a class="dropdown-item" routerLink="eyewear">Eye Glasses</a>
              <a class="dropdown-item" routerLink="eyewear/reading">Reading Glasses</a>
              <a class="dropdown-item" routerLink="eyewear/contactlense">Contact Glasses</a>

              <a class="dropdown-item" routerLink="fitness"><b>Fitness</b></a>
              <a class="dropdown-item" routerLink="fitness">Weight Management</a>
              <a class="dropdown-item" routerLink="fitness/suppliments">Sports Suppliments</a>
              <a class="dropdown-item" routerLink="fitness/smoking">Smoking Cessation Support</a>
              <a class="dropdown-item" routerLink="fitness/vitamins">Vitamins and Suppliments</a>
              <a class="dropdown-item" routerLink="fitness/family">Family Neutritients</a>
              <a class="dropdown-item" routerLink="fitness/healthfood">Health, Food and Drinks</a>
              <a class="dropdown-item" routerLink="fitness/ayurvedicsuppl">Ayurvedic Suppliments</a>
            </div>

            <div class="column3">
            
              <a class="dropdown-item" routerLink="healthconditions"><b>Health Conditions</b></a>
              <a class="dropdown-item" routerLink="healthconditions">Womens Care</a>
              <a class="dropdown-item" routerLink="healthconditions/bonejoint">Bone and Joint Pain</a>
              <a class="dropdown-item" routerLink="healthconditions/liver">Liver Care</a>
              <a class="dropdown-item" routerLink="healthconditions/piles">Piles Care</a>
              <a class="dropdown-item" routerLink="healthconditions/weightcare">Weight Care(EW)</a>
              <a class="dropdown-item" routerLink="healthconditions/stomach">Stomach Care</a>
              <a class="dropdown-item" routerLink="healthconditions/mental">Mental Care</a>
              <a class="dropdown-item" routerLink="healthconditions/daddiction">De-Addiction</a>
              <a class="dropdown-item" routerLink="healthconditions/diabeticcare">Diabetic Care</a>
              <a class="dropdown-item" routerLink="healthconditions/cardiaccare">Cardiac Care</a>
              <a class="dropdown-item" routerLink="healthconditions/coldfever">Cold and Fever</a>
              <a class="dropdown-item" routerLink="healthconditions/immunity">Immunity Care</a>
              <a class="dropdown-item" routerLink="healthconditions/lounge">Lung Care</a>

              <a class="dropdown-item" routerLink="mombaby"><b>Mom and Baby</b></a>
              <a class="dropdown-item" routerLink="mombaby">Baby Care</a>
              <a class="dropdown-item" routerLink="mombaby/feminine">Feminine Hygiene</a>
              <a class="dropdown-item" routerLink="mombaby/maternitycare">Maternity Care</a>
              <a class="dropdown-item" routerLink="mombaby/babybath">Baby Bath Time</a>
              <a class="dropdown-item" routerLink="mombaby/materinityaccessories">Maternity Accessories Hygiene</a>
              <a class="dropdown-item" routerLink="mombaby/toysandgames">Toys and Games</a> -->
          <!-- </div>

            <div class="column4">
            
              <a class="dropdown-item" routerLink="personalcare"><b>Personal Care</b></a>
              <a class="dropdown-item" routerLink="personalcare">Home and Health</a>
              <a class="dropdown-item" routerLink="personalcare/seniorcare">Senior Care</a>
              <a class="dropdown-item" routerLink="personalcare/facepersonal">Face Personal Care</a>
              <a class="dropdown-item" routerLink="personalcare/handsandfeet">Hands and Feet Care</a>
              <a class="dropdown-item" routerLink="personalcare/oralcare">Oral Care</a>
              <a class="dropdown-item" routerLink="personalcare/bathshower">Bath and Shower</a>
              <a class="dropdown-item" routerLink="personalcare/bodycare">Body Care</a>
              <a class="dropdown-item" routerLink="personalcare/toolsandacc">Personal Care Tools and Accessories</a>
              <a class="dropdown-item" routerLink="personalcare/lipcare">Lip Care</a>
              <a class="dropdown-item" routerLink="personalcare/bathingacc">Bathing Accessories</a>


              <a class="dropdown-item" routerLink="sexsualwellness"><b>Sexsual Wellness</b></a>
              <a class="dropdown-item" routerLink="sexsualwellness">Condoms</a>
              <a class="dropdown-item" routerLink="sexsualwellness/massagervib">Massage/ Vibrators</a>
              <a class="dropdown-item" routerLink="sexsualwellness/sexualhealth">Sexsual Health and Suppliments </a>
              <a class="dropdown-item" routerLink="sexsualwellness/lubricants">Lubricants</a>
              <a class="dropdown-item" routerLink="sexsualwellness/sprayngel">Spray and Gels</a>
            </div>

            <div class="column5">
            
              <a class="dropdown-item" routerLink="surgical"><b>Surgical</b></a>
              <a class="dropdown-item" routerLink="surgical">Respiratory Supplies</a>
              <a class="dropdown-item" routerLink="surgical/ivinfusion">Iv Infusion</a>
              <a class="dropdown-item" routerLink="surgical/surgicalinstrument">Surgical Instrument</a>
              <a class="dropdown-item" routerLink="surgical/dressing">Dressing</a>
              <a class="dropdown-item" routerLink="surgical/gicare">Gi Care</a>
              <a class="dropdown-item" routerLink="surgical/urinary">Urinary Care</a>
              <a class="dropdown-item" routerLink="surgical/wound">Wound Treatment</a>


              <a class="dropdown-item" routerLink="veterinary"><b>Veterinary</b></a>
              <a class="dropdown-item" routerLink="veterinary">Petcare</a>
              <a class="dropdown-item" routerLink="veterinary/farmanimal">Farm Animals</a>
              
              <a class="dropdown-item" routerLink="store"><b>Store</b></a>
              <a class="dropdown-item" routerLink="store">Vitamins Store</a>
              <a class="dropdown-item" routerLink="store/drema">Derma Cosmetics</a>
              <a class="dropdown-item" routerLink="store/diabetiescenter">Diabties Center</a>


              <a class="dropdown-item" routerLink="trending"><b>Trending</b></a>
              <a class="dropdown-item" routerLink="trending">CeraVe</a>
              <a class="dropdown-item" routerLink="trending/cetaphill">Cetaphill</a>
              
            </div>
             
            </div>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link active 2 " routerLink="labtest">Lab Test</a>
      </li>

        <li class="nav-item">
          <div class="dropdown show front">
            <a class="nav-link active 2 dropdown toggler" routerLink="beauty"  data-bs-toggle="dropdown" data-bs-target="#navdrop3">Beauty</a>
            <div class="dropdown-menu"  id="navdrop3">
              <div class="column">
              <a class="dropdown-item" routerLink="fragrences"><b>Fragrences</b></a>
              <a class="dropdown-item" routerLink="fragrences">Men</a>
              <a class="dropdown-item" routerLink="fragrences/unisex">Unisex</a>
              <a class="dropdown-item" routerLink="fragrences/female">Women</a>
              

              <a class="dropdown-item" routerLink="hair"><b>Hair</b></a>
              <a class="dropdown-item" routerLink="hair">Hair Care</a>
              <a class="dropdown-item" routerLink="hair/haircolour">Hair Colour</a>
              <a class="dropdown-item" routerLink="hair/hairstyle">Hair Styling</a>
              <a class="dropdown-item" routerLink="hair/hairtool">Hair Tools and Accessories</a>
              <a class="dropdown-item" routerLink="hair/scalp">Scalp Treatments</a>
              <a class="dropdown-item" routerLink="hair/shopbyhair">Shop by Hair Type</a>
           
              <a class="dropdown-item" routerLink="mensgrooming"><b>Mens Grooming</b></a>
              <a class="dropdown-item" routerLink="mensgrooming">Beard Care</a>
              <a class="dropdown-item" routerLink="mensgrooming/shaving">Shaving</a>
                       
            </div>
            <div class="column2">
            
              <a class="dropdown-item" routerLink="makeup"><b>Make-up</b></a>
              <a class="dropdown-item" routerLink="makeup">Eyes</a>
              <a class="dropdown-item" routerLink="makeup/facemakeup">Face Makeup</a>
              <a class="dropdown-item" routerLink="makeup/lips">Lips</a>
              <a class="dropdown-item" routerLink="makeup/makeuptools">Makeup tools and Brushesh</a>
              <a class="dropdown-item" routerLink="makeup/nails">Nails</a>

              <a class="dropdown-item" routerLink="mombaby"><b>Mom and Baby</b></a>
              <a class="dropdown-item" routerLink="mombaby">Baby Care</a>
              <a class="dropdown-item" routerLink="mombaby/feminine">Feminine Hygiene</a>
              <a class="dropdown-item" routerLink="mombaby/maternitycare">Maternity Care</a>
              <a class="dropdown-item" routerLink="mombaby/babybath">Baby Bath Time</a>
              <a class="dropdown-item" routerLink="mombaby/materinityaccessories">Maternity Accessories Hygiene</a>
              <a class="dropdown-item" routerLink="mombaby/toysandgames">Toys and Games</a>
            </div>

            <div class="column3">
            
              <a class="dropdown-item" routerLink="personalcare"><b>Personal Care</b></a>
              <a class="dropdown-item" routerLink="personalcare">Home and Health</a>
              <a class="dropdown-item" routerLink="personalcare/seniorcare">Senior Care</a>
              <a class="dropdown-item" routerLink="personalcare/facepersonal">Face Personal Care</a>
              <a class="dropdown-item" routerLink="personalcare/handsandfeet">Hands and Feet Care</a>
              <a class="dropdown-item" routerLink="personalcare/oralcare">Oral Care</a>
              <a class="dropdown-item" routerLink="personalcare/bathshower">Bath and Shower</a>
              <a class="dropdown-item" routerLink="personalcare/bodycare">Body Care</a>
              <a class="dropdown-item" routerLink="personalcare/toolsandacc">Personal Care Tools and Accessories</a>
              <a class="dropdown-item" routerLink="personalcare/lipcare">Lip Care</a>
              <a class="dropdown-item" routerLink="personalcare/bathingacc">Bathing Accessories</a>

            </div>

            <div class="column4">
            
              <a class="dropdown-item" routerLink="skincare"><b>Skin Care</b></a>
              <a class="dropdown-item" routerLink="skincare">Aromatherpy</a>
              <a class="dropdown-item" routerLink="skincare/cleansers">Cleansers</a>
              <a class="dropdown-item" routerLink="skincare/eyecare">Eye Care</a>
              <a class="dropdown-item" routerLink="skincare/faceskincare">Face Skincare</a>
              <a class="dropdown-item" routerLink="skincare/mask">Mask</a>
              <a class="dropdown-item" routerLink="skincare/moisturiser">Moisturiser</a>
              <a class="dropdown-item" routerLink="skincare/sunscreen">Sunscreen</a>
              <a class="dropdown-item" routerLink="skincare/tonner">Tonner and Serums</a>
              
              <a class="dropdown-item" routerLink="toolsapp"><b>Tools and Appliences</b></a>
              <a class="dropdown-item" routerLink="toolsapp">Face/ Skin Care</a>
              <a class="dropdown-item" routerLink="toolsapp/hairstying">Hair Styling Tools</a>
              <a class="dropdown-item" routerLink="toolsapp/massage">Massage Tool</a>

              
            </div>
             
            </div>
          </div>
        </li>

       


        <li class="nav-item">
          <div class="dropdown show">
            <a class="nav-link active 2 dropdown toggler" routerLink="healthcorner"  data-bs-toggle="dropdown" data-bs-target="#navdrop5">Health Corner</a>
            <div class="dropdown-menu"  id="navdrop5">
              <div class="column">
              <a class="dropdown-item" routerLink="healthcorner">Health Library</a>
              <a class="dropdown-item" routerLink="healthcorner/petientsalike">PetientsAlike</a>
              <a class="dropdown-item" routerLink="healthcorner/allaboutcancer">All about Cancers</a>
              <a class="dropdown-item" routerLink="healthcorner/coronaaware">Corona Awareness</a>
            </div>
            </div>
          </div>
        </li>





        
        
      </ul>
    </div>
    </nav>
  -->

<div>
  <router-outlet></router-outlet>
</div> 