<!-- <nav class="navbar navbar-expand-xl navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <div class="card flex flex-wrap justify-content-center gap-3 search-bar">
              <span class="p-input-icon-left ">
                  <i class="pi pi-search"></i>
                  <input type="text" pInputText [(ngModel)]="value">
              </span>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->

  <app-reactiveform></app-reactiveform>