<div class="body">


<div class="savedCards">
    <div class="label">
         SAVED CARDS
    </div>
    <div class="labeledcards d-flex justify-content-center">
           No Cards Saved By You
    </div>
</div>
<div class="savedCards">
    <div class="label">
        LINKED WALLETS
    </div>
    <div class="labeledcards d-flex justify-content-center">
           No Cards Saved By You
    </div>
</div>
<div class="savedCards">
    <div class="label">
         REWARD PAY
    </div>
    <div class="labeledcards d-flex justify-content-center">
           No Cards Saved By You
    </div>
</div>
</div>