.savedCards{
    width:693px;
    height: 96px;
    padding:20px
}
.label{
    padding: 16px;
    margin: 0;
    letter-spacing: 1px;
    font-family: LatoBold;
    font-size: 12px;
    color: #6f7183;
    line-height: 16px;
    font-weight: Bold;
}
.labeledcards{
    padding: 16px 0;
    text-align: center;
    display: block;
    font-family: Lato;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    background-color: white;
}
.body{
   
    border-radius:10px;
}